<!DOCTYPE html>
<!--
    File:   http://www.cs.uml.edu/~eseto/Data_Communications_II/index.html
    91.414 Data Communications II Project (MercuriChat)
    Emily Seto, Undergraduate Computer Science student at UMass Lowell, emily_seto@student.uml.edu
    Copyright (c) 2016 by Emily W. Seto. All rights reserved. May be freely copied or excerpted for
        educational purposes with credit to the author.
    The objective of this first assignment is to create an index for upcoming assignments in GUI.
    Updated by EWS on March 13, 2016 at 3:26 AM
-->
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MercuriChat</title>

  <!-- "Pinyon Script" from fontcdn.org: -->
  <link href='https://fonts.googleapis.com/css?family=Pinyon+Script' rel='stylesheet' type='text/css'>

  <!-- Linking stylesheets and scripts: -->
  <%= stylesheet_link_tag "index" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "dashboard" %>
</head>
<body>

<!-- Navigation bar information from: http://getbootstrap.com/components/#navbar. -->
<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped together for better mobile display. -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation.</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">MercuriChat</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling. -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <!-- Referenced from: https://getbootstrap.com/examples/dashboard/ -->
      <ul class="nav navbar-nav navbar-right">
        <li class="<%= 'active' if params[:controller] == 'dashboard_controller' %>"><a href="dashboard">Home</a></li>
        <li><%= link_to "My Profile", {controller: "users", action: "show", id: session[:user]} %></li>
        <li><%= link_to "Sign Out", {controller: "users", action: "sign_out"} %></li>
        <li class="<%= 'active' if params[:controller] == 'dashboard_controller' %>"><a href="help">?</a></li>
      </ul>


      <!-- Will eventually allow users to search for other people using the client: -->
      <!--form class="navbar-form navbar-right" action=" " method=""-->
      <%= form_tag({controller: "users", action: "show", id: "id"}, method: "get", class: "navbar-form navbar-right") do %>
          <div class="searchbox">
            <%= text_field_tag "find_friend", nil, class: "form-control", :placeholder => "Search..." %>
          </div>
      <% end %>
      <!--/form-->
    </div>
  </div>
</nav><!-- End of navigation bar. -->

<!-- Beginning of cover page. -->
<div class="container-fluid">
  <div class="row">
     <div id="friendlist">
   <%= render partial: "friendlist", locals: { friendlist: @friendlist, groupchatlist: @groupchatlist} %>
  </div>
    <!-- Referenced from: https://getbootstrap.com/examples/dashboard/ -->
    <!-- Beginning of Friends List: -->
    <div class="col-md-2 sidebar">
      <!-- Content of sidebar, i.e. friends' messages, go here! -->
      <ul class="nav nav-sidebar">
        <% unless !@friendlist %>
            <% @friendlist.each do |friend| %>
                <li id="#{friend.id}">
                  <%= link_to "#{friend.first_name} #{friend.last_name}", conversation_single: "#{friend.id}", onclick: "handleActiveDialogueBox(#{friend.id});" %>
                </li>
            <% end %>
        <% end %>
        <% unless !@friendlist %>
            <% @groupchat_list.each do |group| %>
                <li>
                  <%= link_to "#{group.name}", conversation_group: "#{group.id}", class: "chat-panel" %>
                </li>
            <% end %>
        <% end %>
        <li class="add-group-chat">
          <a href="#" onclick="display_groupwin(); return false">New Group Chat</a>
        </li>
      </ul>
    </div><!-- End of Friends List. -->

    <% if @friendlist.empty? %>
    <!-- If a user's friends list is NIL: -->
    <div class="col-md-7 col-md-offset-3">
      <div class="row">
        <!-- Beginning of welcome message: -->
        <div class="col-md-12"><br />
          <h1>
            Welcome, <strong>
            <%= @user.first_name %>
            <%= @user.last_name %></strong>!
          </h1>
          <p class="large"><br />
            We are super excited that you're using our application! <br/>
            Here are a few things you should know:
          </p>
          <ul class="large">
            <li>You can look for other users using the search box on the navigation bar!</li>
            <li>You can access different parts of MercuriChat, such as:
              <ul>
                <li>your profile page;</li>
                <li>others' profile pages;</li>
                <li>your group chats;</li>
                <li>your one-on-one messages;</li>
                <li>and much more!
              </ul>
            </li>
          </ul>
          <p class="large">Once again, thank you for trying out <strong>MercuriChat</strong>! <br />For more information, please visit the <a href="help">Help</a> page.<br /><br /></p>
          <h2>Sincerely,</h2>
          <h2 id="signature">
              Therese &amp; Emily
          </h2>
        </div><!-- End of welcome message panel. -->
      </div>
    </div><!-- ./div -->
    <% else %>
    <!-- Beginning of messaging panel here: -->
    <div class="col-md-7 col-md-offset-3 msg">
      <div class="row">
        <!-- Beginning of message history panel: -->
        <div class="col-md-12" id="msg-history">
          <!-- Referenced from: http://www.w3schools.com/jsref/event_onclick.asp -->
          <button onclick="showprev()">Show Previous Messages</button>
          <!--<pre id="output"></pre>-->
          <p id="msgOutput">

          </p>
        </div><!-- End of message history panel. -->

        <!-- Beginning of message send box. -->
        <div class="col-md-12" id="msg-send">
          <!-- Referenced from: http://getbootstrap.com/components/#input-groups-buttons -->
          <div class="input-group">
            <!-- Referenced from: http://stackoverflow.com/questions/13987300/how-to-trigger-enter-key-press-of-textbox -->
            <input id="inputMessage" type="text" class="form-control" placeholder="Enter your message here!" onkeydown="handleKeyPress(event)">
						<span class="input-group-btn">
							<button id="sendButton" class="btn btn-default" type="button">Send!</button>
						</span>
          </div><!-- ./input-group -->
        </div><!-- End of message send box. -->
      </div>
    </div><!-- End of messaging panel here. -->
    <% end %>
  </div>
</div>
<!--Added by Therese for chat groups: -->
<div id="newgroup">
  <%= form_tag("dashboard", method: :get) do %>
      <div id="newchatname"><label>Chat Name:</label>
        <%= text_field_tag 'group_name' %></div>
      <br>
      <label>Add Friends:</label> <!--select id="insightList" multiple="multiple"-->
      <%= select_tag "members", options_from_collection_for_select(@friendlist, "id", "last_name"), multiple: true %>


      <script id="group_multiselect">
        $('#members').multiselect({});
      </script>
      <br><br>
      <%= submit_tag "Create Group" %>
  <% end %>
</div>
</body>
</html>