

<%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <!-- Beginning of "Getting Started". -->
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2>Welcome to <strong>MercuriChat!</strong></h2>
          <p>We will send you an email once we have successfully registered your information in our system shortly.</p>
        </div>
      </div>
    </div>

    <!-- Beginning of Registration form. -->
    <div class="container">
      <form class="form-horizontal">
        <!-- First Name entry: -->
        <div class="form-group">
          <label for="firstName" class="col-sm-2 control-label">First Name:</label>
          <div class="col-sm-8">
            <%= f.text_field :first_name, :placeholder => 'First Name', class: "form-control"%>
          </div>
        </div><!-- End of First Name entry. -->


        <br><br>
        <!-- Last Name entry: -->
        <div class="form-group">
          <label for="lastName" class="col-sm-2 control-label">Last Name:</label>
          <div class="col-sm-8">
            <%= f.text_field :last_name, :placeholder => 'Last Name', class: "form-control" %>
          </div>
        </div><!-- End of Last Name entry. -->

        <br><br>

        <!-- Email Address entry: -->
        <div class="form-group">
          <label for="emailAddress" class="col-sm-2 control-label">E-mail:</label>
          <div class="col-sm-8">
            <%= f.email_field :email, :placeholder => 'Email Address', class:"form-control" %>
          </div>
        </div><!-- End of Email Address entry. -->

        <br><br>

        <!-- Password entry: -->
        <div class="form-group">
          <label for="password1" class="col-sm-2 control-label">Password:</label>
          <div class="col-sm-8">
            <%= password_field(:password, :password, class:"form-control", :placeholder => 'Password') %>
            <!--input type="text" name="password1" class="form-control" id="password1" placeholder="Password"-->
          </div>
        </div><!-- End of Password entry. -->

        <br><br>

        <!-- Password Re-Check entry: -->
        <div class="form-group">
          <label for="password2" class="col-sm-2 control-label">Password:</label>
          <div class="col-sm-8">
            <%= password_field(:password, :pw2, class:"form-control", :placeholder => 'Re-enter password') %>
          </div>
        </div><!-- End of Password Re-Check entry. -->
        <br><br>
        <button type="submit" class="btn btn-default">Submit</button>
<% end %>

</form><!-- End of registration form. -->
</div>


